# Core functionality - changes here should be rare!
/src/app.py                   @CalebAckom
/src/backend/database.py      @CalebAckom
/src/backend/routers/auth.py  @CalebAckom

# The frontend will need refactored soon to be more object oriented.
/src/static/   @CalebAckom
